.digipro-main-cont{
   
   
   background-image: url('https://tse1.mm.bing.net/th?id=OIP.PPAwY2B6I28Cc8iWHIFBPgHaDU&pid=Api&P=0&h=180');
   background-repeat: no-repeat;
   background-size: cover;
   height: 50vh;
}
/* .digipro-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */
