/* .bg--body {
    background-color: #f3d3d3 !important;
}
.account-wrapper {
    max-width: 600px;
    border: 1px solid #e8eaff;
    padding: 50px 30px 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(119, 16, 102, 0.483);
    margin: 0 auto;
}
*, ::after, ::before {
    box-sizing: border-box;
}


div {
    display: block;
} */
